// Colors
$label-colour: #ddd;
$disabled-colour: #ddd;
$toggle-colour: #e6141480;
$white: #fff;
$focus-color: #ff0;

$assetPath: '~/static/';
$logo-en: '#{$assetPath}en.jpg';
$logo-ro: '#{$assetPath}ro.jpg';

.toggle-switch {
  position: relative;
  margin-right: 10px;
  width: 75px;
  left: 30px;
  right: auto;
  // border: springgreen solid 10px;
  display: inline-block;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  text-align: left;
  &-checkbox {
    display: none;
  }
  &-label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    border: 2px solid $label-colour;
    border-radius: 15px;
    margin: 0;
    &:focus {
      outline: none;
      > span {
        box-shadow: 0 0 2px 0px red;
      }
    }
    > span:focus {
      outline: none;
    }
  }
  &-inner {
    display: block;
    width: 200%;
    margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
    &:before,
    &:after {
      display: block;
      float: left;
      width: 50%;
      height: 34px;
      padding: 0;
      line-height: 34px;
      font-size: 14px;
      color: white;
      font-weight: bold;
      box-sizing: border-box;
    }
    &:before {
      content: attr(data-yes);
      text-transform: uppercase;
      padding-left: 10px;

      background: url(#{$logo-en}) 20% 50% no-repeat;
      background-size: 40%;
      // background-color: $toggle-colour;
      // background-attachment: scroll;
      color: $white;
    }
  }
  &-disabled {
    background-color: $disabled-colour;
    cursor: not-allowed;
    &:before {
      background-color: $disabled-colour;
      cursor: not-allowed;
    }
  }
  &-inner:after {
    content: attr(data-no);
    text-transform: uppercase;
    padding-right: 10px;

    background: url(#{$logo-ro}) 80% 50% no-repeat;
    background-size: 40%;
    // background-color: $label-colour;
    // border: $label-colour 5px;
    // border-color: $label-colour;

    color: $white;
    text-align: right;
  }
  &-switch {
    display: block;
    width: 20px;
    margin: 9px;
    background: $white;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 40px;
    border: 0 solid $label-colour;
    border-radius: 75%;
    transition: all 0.3s ease-in 0s;
  }
  &-checkbox:checked + &-label {
    .toggle-switch-inner {
      margin-left: 0;
    }
    .toggle-switch-switch {
      right: 0px;
    }
  }
  &.small-switch {
    width: 40px;
    .toggle-switch-inner {
      &:after,
      &:before {
        content: "";
        height: 20px;
        line-height: 20px;
      }
    }
    .toggle-switch-switch {
      width: 16px;
      right: 20px;
      margin: 2px;
    }
  }
  @media screen and (max-width: 991px) {
    transform: scale(0.9);
  }
  @media screen and (max-width: 767px) {
    transform: scale(0.825);
  }
  @media screen and (max-width: 575px) {
    transform: scale(0.75);
  }
}
