  .navbar-brand b{
    // transform: translateX(-50%);
    color: blue;
  }
  

  .navbar-brand {
    margin-left: 10%;
    // position: relative;
  }
  .navbar-text {
      margin-right: 10%
  }

  .header-title {
    color: antiquewhite;
    display:inline-block;
    font-family: Arial, Helvetica, sans-serif;
    font-style: oblique;
  }

  .navbar {
    position: fixed;
    top: 0;
    overflow: hidden;
    background: #000000;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right,
        #000000,
        #414141);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right,
        #000000,
        #414141);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }

  .log-button {
    width: 150px;
    height: 40px;
    margin-right: 10px;
  }