#dev-table td {
    border: 1px solid black;
    // padding: 1% 1% 0% 0%;
    text-align: center;
}

#dev-table thead th {
    border: 2px solid black;
    // padding: 1% 1% 0% 0%;
    background-color: #66d3fa;
    text-align: center;
}
#dev-table {
    text-align: center;
    border: 2px solid black;
    margin: 1% 1% 1% 1%;
    margin-top:100px;
}

#dev-table tr td:last-child {
    width: 1%;
    min-width: 50px;
    white-space: pre-wrap;
}
#dev-table tr:hover {
    background-color: #ffff99;
  }